<script type="x/template" id="vue-item-image-carousel">
    <div itemscope="itemscope" itemtype="http://schema.org/Thing">
        <div class="single-carousel owl-carousel owl-theme owl-single-item no-gutters-mobile"
             ref="single">
            <div v-for="image in singleImages" class="prop-xs-2-3">
                <a :href="image.url" data-lightbox="single-big-image-gallery">
                    <lazy-img :image-url="image.url" :alt="getAltText(image)" :title="getImageName(image)"></lazy-img>
                </a>
            </div>

            <div class="carousel-videowrapper align-items-center d-flex" v-for="property in $store.getters.currentItemVariation.variationProperties"
                 v-if="property.propertyId == 6 && property.values && property.values.value !=''">
                <iframe :src="'https://player.vimeo.com/video/' + property.values.value + '?byline=0&dnt=1&loop=1&portrait=0&title=0&'"
                        frameborder="0" allow="fullscreen" allowfullscreen itemprop="image"></iframe>
            </div>

        </div>
        <div id="thumb-carousel" v-if="showThumbs" class="owl-thumbs owl-carousel owl-theme owl-single-item"
             ref="thumbs">
            <div v-for="(imagePreview, index) in singleImages" class="prop-xs-2-3">
                <div class="image-container" @click="goTo(index)">
                    <lazy-img
                            class="owl-thumb border-appearance"
                            v-bind:class="{ 'active': currentItem === index}"
                            :image-url="imagePreview.url"
                            :alt="getAltText(imagePreview)"
                            :title="getImageName(imagePreview)">
                    </lazy-img>
                </div>
            </div>

            <div class="prop-xs-2-3">
                <div class="image-container" @click="goTo(singleImages.length)" v-for="property in $store.getters.currentItemVariation.variationProperties"
                     v-if="property.propertyId == 6 && property.values && property.values.value !=''">
                    <lazy-img
                            v-bind:class="{ 'active': currentItem === singleImages.length }"
                            src="https://cdn02.plentymarkets.com/fzraxqjvapo5/frontend/cyroline/static/play-icon.jpg"
                            class="video-play-button"
                    ></lazy-img>
                </div>
            </div>
        </div>
    </div>
</script>
