{% import "MandaTheme::Category.Macros.CategoryTree" as Tree %}
{% set overUsText= "uns" %}
{% if "mich" in config("MandaTheme.category.about") %}
    {% set overUsText= "mich" %}
{% endif %}
<ul class="mainmenu pull-lg-left">
    <li><a href="/">Home</a></li>
    {% if config("MandaTheme.category.collection") %}<li><a href="{{ config("MandaTheme.category.collection") }}">Shop</a></li>{% endif %}
    {% if config("MandaTheme.category.about") %}<li><a href="{{ config("MandaTheme.category.about") }}">Über {{ overUsText }}</a></li>{% endif %}
    {{ Tree.get_nav_bar(
        categories,
        "",
        ceresConfig.header.megamenuLevels,
        {
            "1": ceresConfig.header.megamenuItemsStage1,
            "2": ceresConfig.header.megamenuItemsStage2,
            "3": ceresConfig.header.megamenuItemsStage3
        }
    ) }}
</ul>
